.mainBody {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* Top Row */
.toprow {
    /* background-color: pink; */
    display: flex;
}
.albums1 {
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 300px;
}
.album1-img {
    background-image: url("images/pnd_album.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple; */
    width: 150px;
    height: 150px;
}
.album1-img1 {
    background-image: url("images/summer_walker_album.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple; */
    width: 150px;
    height: 150px;
}
.youtubeVid {
    /* background-color: lightcoral; */
    /* width: 50%; */
    margin: 0;
    padding: 100px;
    padding-top: 110px;
}
.albums2 {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.album2-img {
    background-image: url("images/drake_album.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple; */
    width: 150px;
    height: 150px;
}
.album2-img1 {
    background-image: url("images/frank_ocean_album.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple; */
    width: 150px;
    height: 150px;
}
/* Bottom Row */
.buttomrow {
    /* background-color: lightblue;   */
display: flex;
justify-content: space-evenly;
}
.socials1 {
    /* background-color: pink; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-right:75px;
    margin-left:0px ;
    width: 300px;
    height: 115px;
  
}
.insta {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: orange; */
    width: 75px;
    height: 75px;
}
.tt {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple;  */
    width: 75px;
    height: 75px;
}
.twit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* background-color: blue; */
    width: 75px;
    height: 75px;
}
.pin {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: pink; */
    width: 75px;
    height: 75px;
}

.brushes {
    display: flex;
    flex-direction: row;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: yellow;  */
    width: 450px;
    height: 130px;
}
.project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* background-color:olive;  */
    width: 125px;
    height: 125px;
}
.project2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* background-color: purple;  */
    width: 125px;
    height: 110px;
}

  
  
  
  
  